/*---------------------------------------------------------
/*      =RESET
/*      =FONTS
/*      =STRUCTURE
/*        @Header
/*        	@navigation
/*        @Container
/*			@Breadcrumb
/*        	@Content	
/*        	@Aside
/*        @Footer
/*      =MODULES
/*        @Forms
-------------------------------------------------------- */


/*---------------------------------------------------------
        =RESET
-------------------------------------------------------- */
html, body {
    border: 0;
    font-size: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100%;
}

body {
    font: 0.625em/1em verdana, helvetica, sans-serif;
    text-align: left;
    background: #fff;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-weight: normal;
    line-height: 1.2em;
    margin: 0;
    padding: 0;
}

h1, .h1 {
    font-size: 2.0em;
    margin: 0 0 12px;	
}

h2, .h2 {
    font-size: 1.8em;
    margin: 0 0 12px;
}

h3, .h3 {
    font-size: 1.6em;
    margin: 0 0 12px;
}

h4, .h4 {
    font-size: 1.4em;
    margin: 0 0 12px;
}

h5, .h5 {
    font-size: 1.4em;
    margin: 0 0 12px;
}

p {
    font-size: 1.2em;
	line-height: 1em;
    margin: 0 0 12px;
    padding: 0;
}

ul {
    list-style-position: inside;
    list-style-type: disc;
    margin: 0 0 12px;
    padding: 0;
} 

ol {
    list-style: decimal;
    list-style-position: inside;
    margin: 0 0 12px;
    padding: 0;
}

li {
    font-size: 1.2em;
    line-height: 1em;
    margin: 0;
    padding: 0;
}

a {
    color: #000;
    font-size: 1.2em;
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
}

img {
    border: 0;
}

hr {
    background: #fff;
    border: none;
    border-bottom: 1px solid #000;
    color: #fff;
    height: 0;
    margin: 0;
}

form {
    border: 1px solid gray;
    margin: 0;
    padding: 20px;
}

textarea {
    line-height: 1.2em;
}

label {
    cursor: pointer;
}

table {
    border: 0;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}

th, td {
    font-size: 1.0em;
    margin: 0;
    padding: 0;
}

blockquote {
    margin: 0.6em 1.8em;
    padding: 0;
}

small {
    font-size: 0.8em;
}

kbd {
    border: 1px solid #000;
    padding: 1px 2px;
}

sup {
    bottom: 0.3em;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.2em;
    position: relative;
    vertical-align: baseline;
}

acronym, abbr {
    border-bottom: 1px dashed;
    cursor: help;
    letter-spacing: 1px;
}

/*---------------------------------------------------------
        =FONTS
-------------------------------------------------------- */
/*  Exemple pour appeler une font - A supprimer si pas besoin */
@font-face {
    font-family: 'ChaletNewYork';
    src: url('../font/chaletBold.eot');
    src: url('../font/chaletBold.eot?#iefix') format('embedded-opentype'),
         url('../font/chaletBold.woff') format('woff'),
         url('../font/chaletBold.ttf') format('truetype'),
         url('../font/chaletBold.svg#ChaletNewYork') format('svg');
    font-weight: bold;
    font-style: normal;
}

/*---------------------------------------------------------
        =STRUCTURE
-------------------------------------------------------- */
#global {
    min-height: 100%;
    position: relative;
}

#site  {
    margin: 0 auto;
    width: 960px;
}


/*      @Header
------------------------------------ */
#header {
}


/*      @navigation
------------------------------------ */
#nav {
	float: left;
	margin: 0 0 10px;
}

#nav ul{
	list-style: none outside none;
}

#nav ul li {
	float: left;
}

#nav ul li ul li a,
#nav ul li a {
	background: #ABCD31;
	border-top: 1px solid #c3dc6f;
    border-left: 1px solid #86a030;
    color: #3F291D;
    display: block;
    font-size: 12.3px;
    height: 40px;
    line-height: 38px;
    padding: 0 40px;
    text-decoration: none;
    text-transform: uppercase;
}

#nav ul li:first-child a {
	border-left: none;
}

#nav ul li.active a,
#nav ul li a:hover {
	background: #443b32;
	border-top: 1px solid #3f291d;
	color: #fff;
}

#nav ul li ul {
    display: none;
    position: absolute;
    top: 41px;
    width: 200px;
}

#nav ul li ul li a {
	border-left: 1px solid #86a030 !important;
    padding: 0 14px;
    width: 120px;
}

#nav ul li:hover ul {
	display: block;
}


/*      @Container
------------------------------------ */
#container {

}

#content {

}

/*      @Breadcrumb
------------------------------------ */
.breadcrumb {
	margin: 0 0 10px;
}

.breadcrumb  a {
}


/*      @Aside
------------------------------------ */
#aside {

}


/*      @Footer
------------------------------------ */
#footer {

}


/*---------------------------------------------------------
        =MODULES
-------------------------------------------------------- */
.clear { clear: both; }
.center { text-align: center; }
.left { text-align: left; }
.right { text-align: right; }


/*      @Forms
------------------------------------ */
form input,
form select,
form textarea {
}

form p {
    line-height: 1.0em;
    padding: 0 0 12px 0;
}

form p span.label,
form p label {
    display: block;
    float: left;
    font-size: 1em;
    line-height: 16px;
    padding: 2px 10px 2px 0;
    text-align: left;
    width: 95px;
}

form p textarea,
form p select,
form p.text input {
    font-size: 1.2em;
    margin: 0;
    padding: 2px 4px;
    width: 260px;
}

form p input.petitText {
    width: 60px;
}

form p.cp input {
    width: 40px;
}

form p.radio {
    height: 16px;
    margin: 0;
}

form p.radio span {
    float: left;
    text-align: left;
    padding: 2px 10px 0 0;
    width: 95px;
}

form p.radio input {
    float: left;
    margin: 0 5px 0 0;
}

form p.radio label {
    padding: 0 20px 0 0;
    width: 25px;
    text-align: left;
}

form p.radio span.error {
    padding: 0;
    width: 230px;    
}

form p.checkbox {
    height: 70px;
    margin: 0 0 5px;
}

form p.checkbox span {
    display: block;
    margin: 0 10px 5px 0;
}

form p.checkbox input {
    float: left;
    margin: 2px 10px 0 0;
}
 
form p.checkbox label {
    text-align: left;
    width: 120px;
}

form p.checkbox span.error {
    display: block;
    padding: 0;
}

form p.submit {
    text-align: center;
    padding: 20px 0;
}

form p.submit input {
    border: 0;
    color: #000;
    cursor: pointer;
    font-weight: bold;
    padding: 0px 8px;
    margin: 0;
    font-size: 1.3em;
    line-height: 1.1em;
    text-transform: uppercase;
    height: 25px;
}

form p span.error {
    color: #f00;
    font-size: 1.1em;
    line-height: 1.2em;
    font-weight: bold;
    padding: 0 0 15px 5px;
}